/*The main wrapper*/
#fep-wrapper
{
	margin: 5px;
	position: relative;
	/*background-color: white;*/ /*Uncomment this if you have dark background and can't see the text*/
}

/*Header styling*/
#fep-header
{
	border: 1px solid #E7E7E7;
	width: 100%;
	color: #000000;
}

#fep-header strong
{
	color: #333;
	font-size: 20px;
}

#fep-header p
{
	padding: 0px;
	margin: 3px;
	color: #333;
	font-size: 12px;
	line-height:20px;
}


#fep-header .avatar
{
	border: none;
	margin: 5px;
	padding: 0;
	vertical-align: top;
}

/*Menu Styling*/
#fep-menu
{
	color: #333;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
}

/*Notify Styling*/
#fep-error,#fep-success,#fep-wp-error, .error
{
	color: black;
	background-color: #FFEBE8;
	border-color: #C00;
	height: 100%;
	width: 96%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	padding: 0.6em;
	margin: 15px 0;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#fep-success
{
	background-color: #66FF99;
	border-color: #00FF00;
}
#fep-wp-error
{
text-align:left;
}
/*Content styling*/
#fep-content
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	height: auto;
	width: 100%;
	border: 1px solid #E7E7E7;
	color: #333;
}

#fep-content p, #fep-content form
{
	margin: 5px;
}

#fep-content  hr
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#fep-content .fep-pmtext p
{
	margin-left: 0px;
}

#fep-content textarea
{
	width: 100%;
	height: 200px;
}

#fep-content input[type=text]
{
	width: 45%;
	min-width:250px;
}

#fep-content table
{
	width: 100%;
	border-collapse: collapse;
	border: 0px;
	text-align: left;
}

#fep-content th, #fep-content td
{
	padding-left: 5px;
	border: 1px solid #E7E7E7;
	vertical-align: top;
}
#fep-content .fep-head{
	font-size: 14px;
	width:100%;
	color: #fff;
	height: 100%;
	background: #444;
	}
#fep-content .fep-trodd0
{
	background-color: #FAFAFA;
}
#fep-content .fep-trodd1
{
	background-color: #F2F7FC;
}
/*
#fep-content img
{
	max-width: 400px;
	margin-top: 5px;
	margin-bottom: 5px;
}
*/
#fep-content a
{
	color: navy;
	text-decoration: underline;
}

#fep-content small
{
	font-size: 10px;
}


#fep-content blockquote
{
	color: #666;
	width: 90%;
	background: #eee;
	border: 1px solid #E7E7E7;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#fep-content .avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

pre.code
{
	width: 90%;
	background: #eee;
	border: solid 1px #ccc;
	padding: 5px;
	overflow: auto;
	white-space: pre-wrap;
	font-size: 95%; /*If font is too small try increasing this*/
}

/*Footer styling*/
#fep-footer
{
	text-align: center;
	font-size: 10px;
	border: 1px solid #E7E7E7;
	width: 100%;
	color: #333;
}

#fep-footer a, #fep-footer a:hover, #fep-footer a:visited
{
	color: #333;
	text-decoration: underline;
}

/*Auto-suggest*/
#fep-result
{
	width:250px;
	border: solid 1px #333;
	display: none;
	position: absolute;
	background: #00FF99;
}

#fep-result ul, #fep-result li
{
	padding: 0px;
	margin: 0px;
	border: 0px;
	list-style: none;
}

#fep-result li
{
	border-top: solid 1px #333;
}

#fep-result li a
{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #333;
	font-weight: normal;
}

#fep-result li a:hover
{
	background: #333;
	color: white;
}
#fep-menu .fep-button,.fep-button,.fep-button-active {
	display: inline-block;
	color:#000000 !important;
	font-size:13px;
	background:#F0FCFF;
	border: 1px solid #8FBFC9;
	padding:10px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right:10px;
	margin-top:10px;
	font-weight:bold;
	text-decoration:none !important;
}

#fep-menu .fep-button:hover,.fep-button:hover,.fep-button-active {
	background:#D3EEF5;
	color: #333;
	font-size: 14px;
}
/*Hide form fields*/
#fep-hd {
display:none;
}
#fep-notification-bar
{
	color: black;
	background-color: #FFEBE8;
	border-color: #C00;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	padding: 0.6em;
	margin: 15px 0;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.fep-table {display: table; width:100%; border-collapse: collapse;}
.fep-table > div  {display: table-row;}
.fep-table > div > div {display: table-cell;}
.fep-table .fep-table-caption {display: table-caption; text-align:center; font-weight:bold;}

.fep-action-table{ margin-bottom: 10px; }

.fep-table .fep-column-avatar, .fep-table .fep-column-fep-cb { vertical-align:middle; padding-right:10px;}
.fep-table .fep-column-author, .fep-table .fep-column-date { min-width:150px;}
.fep-table .fep-message-date { display:block;}
.fep-table .fep-message-excerpt { display:block; opacity:0.3; }
.fep-strong{ font-weight:bold; }

.fep-odd-even > div:nth-child(odd) {
    background-color: #F2F7FC;
}

.fep-odd-even > div:nth-child(even) {
    background-color: #FAFAFA;
}

.fep-unread-classp {
    position:relative; 
}

.fep-unread-class {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    padding: 0 1px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
	font-size: 9px;
    height: 16px;
    line-height: 16px;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

.fep-unread-class1 {
    background: #ca4a1f none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 11px;
    color: #fff;
    font-size: 9px;
    height: 16px;
    left: -3px;
    line-height: 16px;
    min-width: 7px;
    padding: 0 5px;
    position: relative;
    text-align: center;
	display: inline-block;
    vertical-align: top;
}
.fep-align-left{ width:90%;}
.fep-align-right{
	margin-left:auto; 
	margin-right:0;
	width:90%;
	}
.fep-align-centre{ text-align:center;}

.fep-pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:6px}
.fep-pagination>li{display:inline}
.fep-pagination>li>a,.fep-pagination>li>span{position:relative;float:left;padding:12px 24px;line-height:1.42857143;text-decoration:none;color:#337ab7;background-color:#fff;border:1px solid #ddd;margin-left:-1px}
.fep-pagination>li:first-child>a,.fep-pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:6px;border-top-left-radius:6px}
.fep-pagination>li:last-child>a,.fep-pagination>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}
.fep-pagination>li>a:hover,.fep-pagination>li>span:hover,.fep-pagination>li>a:focus,.fep-pagination>li>span:focus{color:#23527c;background-color:#eee;border-color:#ddd}
.fep-pagination>.active>a,.fep-pagination>.active>span,.fep-pagination>.active>a:hover,.fep-pagination>.active>span:hover,.fep-pagination>.active>a:focus,.fep-pagination>.active>span:focus{z-index:2;color:#fff;background-color:#337ab7;border-color:#337ab7;cursor:default}
.fep-pagination>.disabled>span,.fep-pagination>.disabled>span:hover,.fep-pagination>.disabled>span:focus,.fep-pagination>.disabled>a,.fep-pagination>.disabled>a:hover,.fep-pagination>.disabled>a:focus{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}
.fep-pagination-lg>li>a,.fep-pagination-lg>li>span{padding:16px 32px;font-size:18px}
.fep-pagination-lg>li:first-child>a,.fep-pagination-lg>li:first-child>span{border-bottom-left-radius:8px;border-top-left-radius:8px}
.fep-pagination-lg>li:last-child>a,.fep-pagination-lg>li:last-child>span{border-bottom-right-radius:8px;border-top-right-radius:8px}
.fep-pagination-sm>li>a,.fep-pagination-sm>li>span{padding:7px 12px;font-size:12px}
.fep-pagination-sm>li:first-child>a,.fep-pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.fep-pagination-sm>li:last-child>a,.fep-pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}

.fep-loading-gif {
    background:url('../images/loading.gif') no-repeat right center;
	padding-right:16px;
}

.fep-font-red { color: #FF0000; }
.fep-per-message {
	margin: 5px;
	padding:5px;
	border: 1px solid #E7E7E7;
}
.fep-per-message .fep-message-title
{
	border: 1px solid #E7E7E7;
	width: 100%;
	font-size: 20px;
	font-weight:bold;
	cursor:pointer;
	background-color:#F2F7FC;
	border-radius: 10px;
	padding-left:10px;
	padding-right:10px;
}
.fep-per-message .fep-message-title .date
{
	text-align:right;
	padding-left:10px;
	width: 100%;
	display:block;
	font-weight: normal;
	font-size:12px
}
@media screen and (max-width: 480px) {
.fep-table .fep-message-excerpt { display:none;}
.fep-action-table, .fep-action-table > div,.fep-action-table > div > div {display:block;}
#fep-menu .fep-button,.fep-button,.fep-button-active { width:100% }
}